// Style variables
@primary: #faf9f6;
@secondary: #2f2f2f;
@tertiary: white;
@transition: 0.1s linear;

// Media variables
@small: ~'only screen and (min-width: 576px)';
@medium: ~'only screen and (min-width: 768px)';

// Dynamically changed
@picked-color: @secondary;
@contrast: @tertiary;
@grid-count: 16;

// Font by Balpirick Studio
@font-face {
  font-family: FrankyToys;
  src: url('assets/FrankyToys.woff2') format('woff2');
  font-display: swap;
}

// Containers
:root {
  font-family: FrankyToys, cursive;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  color: @secondary;
  background: @primary;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

header > h1 {
  font-size: 38px;
  user-select: none;

  @media @medium {
    font-size: 54px;
  }
}

// Main content
main {
  display: inherit;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 3em;

  @media @medium {
    & {
      flex-direction: row;
      gap: 5em;
    }
  }

  p {
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    line-height: 0;
  }
}

// Toolbox
#tools {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  #color-picker {
    appearance: none;
    outline: none;
    padding: 0;
    border: 0;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    &:hover {
      transition: @transition;
      scale: 1.05;
    }
  }

  button {
    font-family: inherit;
    font-size: 1em;
    outline: none;
    width: 11em;
    height: 42px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid @secondary;
    background: @tertiary;

    &:hover {
      transition: scale @transition;
      scale: 1.05;
    }
  }
}

// Active button styles
.color-selection-active {
  color: var(--contrast, @contrast);
  background: var(--picked-color, @picked-color) !important;
}

.rainbow-mode-active {
  text-shadow: 1px 1px @tertiary;
  background: linear-gradient(
    135deg,
    red,
    orange 20%,
    #d0de21,
    #4fdc4a,
    #2fc9e2,
    #1c7fee,
    #5f15f2,
    #ba0cf8,
    #fb07d9
  ) !important;
}

.eraser-active {
  box-shadow:
    inset 3em 0 0 0 #ff4f4f,
    inset -3em 0 0 0 #4f6fcf;
}

.clear-active {
  color: @tertiary;
  background: #cc0030 !important;
  text-shadow: 1px 1px @secondary;
}

// Range slider
#grid-size {
  appearance: none;
  outline: none;
  width: 6rem;
  height: 6px;
  border-radius: 6px;
  background: @secondary;
}

// Firefox
#grid-size::-moz-range-thumb {
  cursor: grab;
  border-radius: 50%;
  border: 2px solid @secondary;
  background: @primary;
  width: 14px;
  height: 14px;
}

#grid-size:hover::-moz-range-thumb {
  border-color: @secondary;
  background: @secondary;
}

#grid-size:active::-moz-range-thumb {
  cursor: grabbing;
}

#grid-size::-moz-range-progress {
  // Firefox only
  background: @primary;
  height: 2px;
}

// Chromium
#grid-size::-webkit-slider-thumb {
  appearance: none;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid @secondary;
  background: @primary;
  width: 18px;
  height: 18px;
}

#grid-size:hover::-webkit-slider-thumb {
  border-color: @secondary;
  background: @secondary;
}

#grid-size:active::-webkit-slider-thumb {
  cursor: grabbing;
}

// Sketcher
#grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-count, @grid-count), 1fr);
  user-select: none;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 4px 1px @secondary;
  border-radius: 2px;

  .grid-element {
    border: 0;
    outline: none;
    background: var(--tertiary, @tertiary);
  }

  @media @small {
    & {
      width: 400px;
      height: 400px;
    }
  }

  @media @medium {
    & {
      width: 500px;
      height: 500px;
    }
  }
}

// Footer
footer {
  padding-bottom: 2rem;
  position: absolute;
  user-select: none;
  font-size: 18px;
  bottom: 0;

  a {
    text-decoration: none;
    color: inherit;

    img {
      width: 19px;
      height: 19px;
      margin-right: 2px;
      vertical-align: -2px;
    }

    &:hover {
      transition: @transition;
      font-size: 20px;

      img {
        transition: @transition;
        margin-right: 3px;
        scale: 1.1;
      }
    }
  }
}
