@font-face { // by Balpirick Studio
  font-family: FrankyToys;
  src: url(FrankyToys.ttf);
  font-display: swap;
}

button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border: 2px solid #2F2F2F;
  border-radius: 4px;
  font-size: 1em;
  width: 11em;
  height: 42px;
  background: white;
  &:hover {
    scale: 1.05;
    transition: scale .1s linear;
  }
  &:nth-of-type(1):active { // Set permanently
    background: #2F2F2F;
    color: contrast(#2F2F2F); // Change value dynamically w/ TS
  }
  &:nth-of-type(2):active { // Set permanently
    background: linear-gradient(
      135deg,
      red,
      orange 20%,
      #D0DE21,
      #4FDC4A,
      #2FC9E2,
      #1C7FEE,
      #5F15F2,
      #BA0CF8,
      #FB07D9
    );
  }
  &:nth-of-type(3):active { // Set permanently
    box-shadow: inset 3em 0 0 0 #FF4F4F,
                inset -3em 0 0 0 #4F6FCF;
  }
  &:nth-of-type(4):active {
    color: white;
    background: #CC0030;
  }
}
// Containers
:root {
  font-family: FrankyToys, cursive;
  scroll-behavior: smooth;
  color: #2F2F2F;
  background: #FAF9F6;
  position: relative;
  min-height: 100%;
}

#app {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-size: 38px;
  cursor: default;
  user-select: none;
  @media only screen and (min-width: 768px) {
    font-size: 54px;
  }
}
// Main
main {
  display: inherit;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 3em;
  @media only screen and (min-width: 768px) {
    & {
      flex-direction: row;
      gap: 5em;
    }
  }
  p {
    line-height: 0;
    user-select: none;
    font-weight: bold;
    font-size: 20px;
  }
}

#tools {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  #color-picker {
    cursor: pointer;
    appearance: none;
    width: 5rem;
    height: 5rem;
    outline: none;
    padding: 0;
    border: 0;
    &:hover {
      transition: .1s linear;
      scale: 1.05;
    }
  }
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr); // Change 1st value dynamically w/ TS
  user-select: none;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 4px 1px #2F2F2F;
  border-radius: 2px;
  .grid-element {
    background: white;
  }
  @media only screen and (min-width: 576px) {
    & {
      width: 400px;
      height: 400px;
    }
  }
  @media only screen and (min-width: 768px) {
    & {
      width: 500px;
      height: 500px;
    }
  }
}

#grid-size {
  appearance: none;
  outline: none;
  width: 6rem;
  height: 6px;
  border-radius: 6px;
  background: #2F2F2F;
}
#grid-size::-webkit-slider-thumb {
  cursor: grab;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FAF9F6;
  border: 2px solid #2F2F2F;
}
#grid-size::-moz-range-thumb {
  cursor: grab;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FAF9F6;
  border: 2px solid #2F2F2F;
}
#grid-size:hover::-webkit-slider-thumb {
  border-color: #2F2F2F;
  background: #2F2F2F;
}
#grid-size:hover::-moz-range-thumb {
  border-color: #2F2F2F;
  background: #2F2F2F;
}
#grid-size:active::-webkit-slider-thumb {
  cursor: grabbing;
}
#grid-size:active::-moz-range-thumb {
  cursor: grabbing;
}
#grid-size::-moz-range-progress {
  background: #FAF9F6;
  height: 2px;
}
// Footer
footer {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  cursor: default;
  user-select: none;
  padding-bottom: 2rem;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      transition: .1s linear;
      font-size: 20px;
      img {
        scale: 1.1;
        margin-right: 3px;
        transition: .1s linear;
      }
    }
    img {
      width: 19px;
      height: 19px;
      vertical-align: -2px;
      margin-right: 2px;
    }
  }
}